@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37 33% 96%;
    --foreground: 60 4% 10%;
    --card: 33 25% 93%;
    --card-foreground: 60 4% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 11 60% 48%;
    --primary-foreground: 37 33% 96%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 35 10% 49%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 36 22% 81%;
    --input: 36 22% 81%;
    --ring: 11 60% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 30 12% 10%;
    --foreground: 37 20% 88%;
    --card: 30 12% 14%;
    --card-foreground: 37 20% 88%;
    --popover: 30 12% 14%;
    --popover-foreground: 37 20% 88%;
    --primary: 11 60% 48%;
    --primary-foreground: 37 33% 96%;
    --secondary: 30 15% 20%;
    --secondary-foreground: 37 20% 88%;
    --muted: 30 12% 16%;
    --muted-foreground: 35 12% 58%;
    --accent: 30 15% 20%;
    --accent-foreground: 37 20% 88%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 37 20% 88%;
    --border: 30 15% 22%;
    --input: 30 15% 22%;
    --ring: 11 60% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
